body {
    background: #111827;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
}

#gameBoard {
    position: relative;
    background: #1f2937;
    width: 400px;
    height: 400px;
    border: 4px solid #22c55e;
    box-shadow: 0 0 15px #22c55e;
    margin: 20px auto;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #4ade80;
    border-radius: 4px;
}

.food {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ef4444;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.overlay-content {
    text-align: center;
}

button {
    background: #22c55e;
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}
